<md-dialog aria-label="changepassworddialog" style="min-width: 300px;">
    <form>
        <!-- <md-toolbar class="dialogtoolbar">
            <div class="md-toolbar-tools">
                <h3>Ganti password</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancelChange()">
                    <md-icon md-svg-src="img/icons/close-24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar> -->
        <div class="modal-header text-center theme" style="height: 90px !important;">
            <div class="close-modal">
                <md-button class="md-icon-button">
                    <md-icon md-svg-src="assets/images/custom_icons/exit.svg" aria-label="Close dialog"
                        ng-click="cancelChange()">
                    </md-icon>
                </md-button>
            </div>
            <h3 class="head">Ganti password</h3>
        </div>
        <div class="divider md-divider"></div>

        <md-dialog-content>
            <md-content class="md-padding dialogcontainerspace" style="background: white;">
                <form name="changepasswordform">
                    <div layout="column">
                        <div class="row" style="margin-bottom: 10px;">
                            <label class="col-sm-5">Password Lama</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control input-bordered" required
                                    ng-model="userinfo.oldpass" placeholder=" Password Lama">
                            </div>
                        </div>
                        <br>
                        <div class="row" style="margin-bottom: 10px;">
                            <label class="col-sm-5">Password Baru</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control input-bordered" required
                                    ng-model="userinfo.newpass" placeholder=" Password Baru">
                            </div>
                        </div>
                    </div>
                </form>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <div class="modal-footer">
                <button class="btn btn-primary btn-bordered" ng-disabled="!userinfo.oldpass || !userinfo.newpass"
                    aria-label="changepassword" ng-click="adduser()">Ganti
                </button>
            </div>
            <!-- <md-button ng-disabled="!userinfo.oldpass || !userinfo.newpass" ng-click="changepassword()"
                style="margin-right:20px;" aria-label="changepassword">
                <span>Ganti</span>
            </md-button> -->
        </md-dialog-actions>
    </form>
</md-dialog>