<md-dialog aria-label="changepassworddialog" style="min-width: 300px;">
    <form>
        <md-toolbar class="dialogtoolbar">
            <div class="md-toolbar-tools">
                <h3>Ganti password</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancelChange()">
                    <md-icon md-svg-src="img/icons/close-24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content >
            <md-content class="md-padding dialogcontainerspace">
                <form name="changepasswordform">
                    <div layout="column">
                        <md-input-container style="margin-top: 0px !important;margin-bottom: -10px !important;" flex="100">
                            <label>Password lama:</label>
                            <input required type="password" ng-model="userinfo.oldpass">
                        </md-input-container>
                        <md-input-container style="margin-top: 10px !important;margin-bottom: -10px !important;" flex="100">
                            <label>Password baru</label>
                            <input required type="password" ng-model="userinfo.newpass">
                        </md-input-container>
                    </div>
                </form>
            </md-content>   
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-disabled="!userinfo.oldpass || !userinfo.newpass" ng-click="changepassword()" style="margin-right:20px;" aria-label="changepassword">
                <span>Ganti</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
