<div class="nav-wrapper theme" ng-controller="sidebarCtrl">
  <ul id="nav" class="nav" data-slim-scroll data-collapse-nav data-highlight-active>
    <li style="margin-top: 70px">
      <a href="#/layer-control/dashboard">
        <img class="icon-nav" src="assets/images/custom_icons/dashboard.svg" alt="dashboard" />
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#/layer-control/data-input">
        <img class="icon-nav" src="assets/images/custom_icons/input-data.svg" alt="input" />
        <span>Data Input</span>
      </a>
    </li>
    <li>
      <a href="#/layer-control/model-ml">
        <img class="icon-nav" src="assets/images/custom_icons/model-ml.svg" alt="model-ml" />
        <span>Model ML</span>
      </a>
    </li>
    <li>
      <a href="#/layer-control/webgis">
        <img class="icon-nav" src="assets/images/custom_icons/webgis.svg" alt="webgis" />
        <span>WebGIS</span>
      </a>
    </li>
    <li>
      <a href="#/layer-control/simulasi">
        <img class="icon-nav" src="assets/images/custom_icons/webgis-simulasi.svg" alt="simulasi" />
        <span>Simulasi</span>
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1NgpZavWUtCqo54BnvjFs2WSRa7xOJtJ_/view?usp=sharing" target="_blank"
        ng-click="changeCategory('bantuan');">
        <img class="icon-nav" src="assets/images/custom_icons/bantuan.svg" alt="bantuan" />
        <span>Bantuan</span>
      </a>
    </li>

    <li>
      <a href="http://smong.ai-innovation.id/dashboard/" style="top: 80%; position: fixed">
        <img class="icon-nav" src="assets/images/custom_icons/logout.svg" alt="logout">
        <span>Keluar</span>
      </a>
    </li>
  </ul>
</div>