<div class="nav-wrapper theme" ng-controller="sidebarCtrl">
  <ul id="nav" class="nav" data-slim-scroll data-collapse-nav data-highlight-active>
    <li style="margin-top: 60px">
      <a href="#/layer-control/pengguna">
        <img class="icon-nav" src="assets/images/custom_icons/pengguna.svg" alt="dashboard" />
        <span>Pengguna</span>
      </a>
    </li>
    <!-- ng-class="{'selected': category === 'hwstats'}" -->
    <li>
      <!-- ng-click="changeCategory('hwstats')" -->
      <a href="#/layer-control/hwstats">
        <img class="icon-nav" src="assets/images/custom_icons/hw_stats.svg" alt="hwstats" />
        <span>H/W Stats</span>
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1NgpZavWUtCqo54BnvjFs2WSRa7xOJtJ_/view?usp=sharing" target="_blank">
        <img class="icon-nav" src="assets/images/custom_icons/bantuan.svg" alt="bantuan" />
        <span>Bantuan</span>
      </a>
    </li>

    <li>
      <a href="http://smong.ai-innovation.id/dashboard/" style="top: 80%; position: fixed">
        <img class="icon-nav" src="assets/images/custom_icons/logout.svg" alt="logout">
        <span>Keluar</span>
      </a>
    </li>
  </ul>
</div>