<md-dialog aria-label="addnewinputdialog" style="min-width: 500px;">

    <!--  <md-dialog-content style="overflow: hidden;">
        <div class="modal-header text-center head-modal-bordered theme" style="height: 220px !important">
            <div class="close-modal" style="height: fit-content;">
                <md-button class="md-icon-button">
                    <md-icon md-svg-src="assets/images/custom_icons/close.svg" aria-label="Close dialog"
                        ng-click="cancelSelectModel()">
                    </md-icon>
                </md-button>
            </div>
            <h3 class="head">Pilih Model Machine Learning</h3>
        </div>
        <br>
    </md-dialog-content> -->

    <div class="modal-header-80 text-center theme">
        <div class="close-modal">
            <md-button class="md-icon-button" ng-click="cancelSelectModel()">
                <md-icon md-svg-src="assets/images/custom_icons/exit.svg" aria-label="Close dialog">
                </md-icon>
            </md-button>
        </div>
        <h3 class="head">Pilih Model Machine Learning</h3>
    </div>


    <md-dialog-content>
        <md-subheader>
            <div layout="row" style="font-size: 13px;white-space:nowrap;" layout-wrap flex>
                <span flex="40" style="text-align:center;"><strong>NAMA MODEL</strong></span>
                <span flex="30" style="text-align:center;"><strong>AUTHOR</strong></span>
                <span flex="30" style="text-align:center;"><strong>WAKTU PEMBUATAN</strong></span>
            </div>
        </md-subheader>
        <div layout="column">
            <md-list flex>
                <md-list-item ng-repeat="item in models" ng-click="selectMod(item.id)"
                    ng-class="{'activelist':activeModel === item.id}">
                    <div ng-class="{'defaultmodel':item.level== 'default'}" layout="row" flex layout-wrap>
                        <span flex="40" flex>{{item.name}}</span>
                        <span flex="30" style="text-align:center;font-size: 12px;">{{item.author}}</span>
                        <span flex="30"
                            style="text-align:center;font-size: 12px;white-space:nowrap;">{{item.time}}</span>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <button class="btn btn-primary btn-bordered" ng-disabled='!idslctd' ng-click="displayModel()"
            aria-label="Pilih Model Machine Learning">
            Display
        </button>
    </md-dialog-actions>

</md-dialog>